<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <div class="card1Color titlePos">
          <span class="card-title">Absolute Pilates</span>
          <span>Goal: lose weight ! 10 weeks to go</span>
        </div>
        <div class="cardBody">
          <div class="col s3 offset-s1 verticalAlign">
            <p>10 weeks</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>30 workouts</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>5930 calories</p>
          </div>
        </div>
      </div>
      <div class="card-action">
        <p class="btn-floating card1Color">Mo</p>
        <p class="btn-floating">TU</p>
        <p class="btn-floating card1Color">WE</p>
        <p class="btn-floating">TH</p>
        <p class="btn-floating card1Color">FR</p>
        <p class="btn-floating">SA</p>
        <p class="btn-floating">SU</p>
        <button>CHANCEL</button>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <div class="card2Color titlePos">
          <span class="card-title">IN SHAPE</span>
          <span>Goal: Increase flexibility ! 5 weeks to go</span>
        </div>
        <div class="cardBody">
          <div class="col s3 offset-s1 verticalAlign">
            <p>8 weeks</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>16 workouts</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>1316 calories</p>
          </div>
        </div>
      </div>
      <div class="card-action">
        <p class="btn-floating">Mo</p>
        <p class="btn-floating card2Color">TU</p>
        <p class="btn-floating">WE</p>
        <p class="btn-floating card2Color">TH</p>
        <p class="btn-floating">FR</p>
        <p class="btn-floating">SA</p>
        <p class="btn-floating">SU</p>
        <button>CHANCEL</button>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <div class="card3Color titlePos">
          <span class="card-title">Absolute Pilates</span>
          <span>Goal: lose weight ! 10 weeks to go</span>
        </div>
        <div class="cardBody">
          <div class="col s3 offset-s1 verticalAlign">
            <p>10 weeks</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>30 workouts</p>
          </div>
          <div class="col s3 verticalAlign">
            <p>5930 calories</p>
          </div>
        </div>
      </div>
      <div class="card-action">
        <p class="btn-floating">Mo</p>
        <p class="btn-floating">TU</p>
        <p class="btn-floating">WE</p>
        <p class="btn-floating">TH</p>
        <p class="btn-floating">FR</p>
        <p class="btn-floating card3Color">SA</p>
        <p class="btn-floating">SU</p>
        <button>CHANCEL</button>
      </div>
    </div>
  </div>
</div>
