<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">FITNESS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">My Profile</a></li>
      <li routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="programs">Programs</a></li>
      <li routerLinkActive="active"><a routerLink="food">Food tab</a></li>
      <li><button (click)="onClick()">Logout</button></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
